*/target/*
*/build*
*/dist/*
guacamole-src/*
Icanhazcheezburger/*
*.~lock.*
.bak/*
*.pdf
*.xls
*.jasper
*.jar
*.svn
BtrModel/*
BtrPersist/*
BtrPersistence/*
BtrReports/*
EntropyWebManager/*
guacamole/*
